.products{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 80%;
    height: 100%;
    padding: 20px;
    background-color: #f0ecec;
}
.bill{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 20%;
    height: 100%;
    padding: 20px;
    background-color: #d6d6d6;
}