.addproduct-main-div{
    width:100%;
    height:100vh;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.addproduct-box{
    width: 80%;
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(98, 172, 241);
    padding: 20px;
    box-sizing: border-box;
}