.main{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to right, #9831ff 30%,#462fa0 70%);
    overflow: hidden;
    
    
}
.signup-bar{
    width:70%;
    height: 70%;
    display: flex;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 0px 0px 16px 17px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    
}
.lsimage{
    width: 40%;
    height: 100%;
    align-items: center;
    border-radius: 10px 0px 0px 10px;
    background-color: rgb(154, 52, 250);

    

}
#form-in{
    display: flex;
    flex-direction: column;

    border-radius: 5px;
    
    
}
.input-from{
    align-items: center;
    margin-left: 90px;
    margin-top: 15px;
    border-radius: 10px;
   
}
.input-ls{
    width: 20rem;
    
    height: 40px;
    border-radius: 10px;
    border: 1px solid #ccc;
    padding: 0px 10px;
    margin-bottom: 10px;
    font-size: 16px;
    font-family: 'Prata', serif;
    color: rgb(72, 51, 192);
}
.input-from button{
    margin-top: 5px;
    width: 20rem;
    height: 40px;
    border-radius: 10px;
    border: 1px solid #ccc;
    padding: 0px 10px;
    margin-bottom: 10px;
    font-size: 16px;
    background-color: rgb(95, 73, 218);
    font-family: 'Prata', serif;
    color: rgb(239, 238, 241);
}
input:focus{
    outline: none;
    
}
input:focus::placeholder{
    color: rgb(108, 108, 197);
}
h1{
    font-family: 'Prata', serif;
   

    color: rgb(110, 61, 209);
    font-size: 33px;
    margin-top: 10px;
    margin-bottom: 10px;
}
input:hover{
    box-shadow: 0px 0px 2px 3px rgba(57, 38, 223, 0.2);
}
button:hover{
    box-shadow: 0px 0px 12px 3px rgba(3, 3, 3, 0.2);
}
.image-ls{
    width: 100%;
    height: 65%;
    margin-top: 60px;
  
    border-radius: 0px 10px 10px 0px;
    background-color: rgb(154, 52, 250);
    
}