.order-container{
    width: 100%;
    height: 88vh;
    display: flex;
    padding-top: 20px;
    flex-direction:row;
    justify-content: space-evenly;
    background-color: #eaeded;
}
.order-left{
    width: 70%;
    height:95%;
    overflow: scroll; 
    overflow-x:hidden; 
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.order-left::-webkit-scrollbar{
    display: none;
}
.order-right{
    width: 25%;
    height: 50%;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    border-bottom: 1px solid #DDD;
   
   
}
.order-left-header{
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid rgb(49, 45, 45);
    align-items: center;
}
.order-left-header-left{
    margin-left: 20px;
    
}

.order-h1-myorder{
    font-weight: 500;
    font-size: 35px;
    color: rgb(190, 184, 184);
    line-height: 66px
}
.order-left-body-product{
    width:100%;
    height:20% ;
    display: flex;
    align-items: center;
    flex-direction: row;
  
}
.order-left-body-product-image{
    width:25%;
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.order-left-body-product-image img{
    width:70%;
    min-height:70%;
}
.order-left-body-product-details{
    width: 20%;
    height: 100%;
    display: flex; 
    flex-direction: column;
}
.c-p-name{
    font-size: 20px;
    font-weight: 500;
    margin-top: 10px;
}
.c-p-price{
    font-size: 20px;
    margin-top: 10px;
    font-weight: 500;
  
}

.order-left-body-product-quantity{
    width:20%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.order-prdocut-show-quantity{
    width: 30px;
    height: 30px;
    border-radius: 5px;
    text-align: center;
    font-size: 20px;
    margin-top: 10px;
}

.order-left-body-prdouct-total{
    width: 20%;
    text-align: center;
}


/* billing div */
.order-right{
    width: 20rem;
    height: 20rem;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    border-bottom: 1px solid #DDD;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}
.order-bill{
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #f0f0f0;
}
.order-bill span{
    padding-left: 20px;
    color: rgb(190, 184, 184);
    font-size: 20px;
}
.order-p-t-billing{
    width: 90%;
    height: 20%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.order-p-t-billing span{
    font-size: 20px;
}
.order-d-p-billing{
    width: 90%;
    height: 20%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #f0f0f0;
}
.order-d-p-billing{
    font-size: 20px;
}
.order-order-total{
    width: 90%;
    height: 20%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.order-order-total span{
    font-size: 20px;
}
.order-place-order{
    width: 90%;
    height: 20%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.place-order{
    width: 140px;
    height: 40px;
    font-size: 15px;
    background-color:#ff9f00;
    border: none;
    color: white;
    cursor: pointer;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.c-p-total{
    display: none;
}

.order-is-empty{
    display: flex;
    width: 100%;
    height: 80vh;
    justify-content: center;
    align-items: center;
    justify-content: center;
}

@media (max-width:745px) {
   
    .order-container{
    width: 100%;
    padding-top: 0;
    margin-top: none;
    display: flex;
    flex-direction:column;
    justify-content: space-evenly;
    background-color: #eaeded;
}
.order-left{
    width: 100%;
    margin-top:0px;
    padding-top: 0px;
    height: 75%;
    overflow: scroll;
    overflow-y: auto;
    background-color: rgb(255, 255, 255);
    
}




.order-order-total{
    width: 50%;
    height: 20%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.order-order-total span{
    font-size: 18px;
}




.order-left-header{
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid rgb(49, 45, 45);
    align-items: center;
    display: none;
}
.order-left-header-left{
    margin-left: 20px;
    
}

.order-h1-myorder{
    font-weight: 500;
    font-size: 25px;
    color: rgb(190, 184, 184);
    line-height: 66px
}
/* end header */

.order-left-body-product-image{
    width:20%;
    height:100%;
    display: flex;
    align-items: center;
}
.order-left-body-product-image img{
    width:100%;
    min-height:70%;
}
.order-left-body-product-details{
    width: 20%;
    height: 100%;
    display: flex; 
    flex-direction: column;
}

 .c-p-name{
    display: flex;
    font-size: 15px;
    font-weight: 500;
    margin-top: 10px;
}
.c-p-price{
    font-size: 15px;
    margin-top: 3px;
    font-weight: 500;
  
}
.c-p-stock{
    color: green;
  
}
.c-p-total{
    font-size: 14px;
    display:block;
}


.order-left-body-product-quantity{
    width:40%;
    height: 100%;
    display: flex;
    justify-content:space-evenly;
}
.order-product-quantity-button{
    background-color: #2bff00;
    border: 1px solid #e6e6e6;
    color: rgb(255, 255, 255);
    border-radius: 5px;
    width: 20px;
    height: 25px;
    font-size: 15px;
    cursor: pointer;

}
.order-prdocut-show-quantity{
    width: 30px;
    height: 30px;
    border-radius: 5px;
    text-align: center;
    font-size: 15px;
}
.order-left-body-prdouct-total{
    display: none;
  
}
.order-prdocut-remove{
   background-color: #ffffff;
    border: 1px solid #fc0000;
    color: rgb(255, 0, 0);
    border-radius: 5px;
    width: 100%;
    height: 20px;
    font-size: 10px;
    cursor: pointer;
}




/* biilg div */
.order-right{
    width: 100%;
    height: 25%;
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    box-shadow:none;
    border-bottom: 1px solid #DDD;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    border-top: 1px solid rgb(211, 202, 202);
    overflow: hidden;
    position: sticky;
    z-index: 4;
    bottom: 0;
}
.order-p-t-billing span{
    font-size: 16px;
}
.order-d-p-billing span{
    font-size: 16px;
}

}
.order-bill span{
    font-size: 16px;
}

