.slider-wrapper {
  width: 100%;
  display: flex;
  max-height: 300px;
  background-color: white;
  overflow: scroll;
}
.slider-wrapper::-webkit-scrollbar {
  display: none;
}
.slider {
  display: flex;
}
.slider img {
  flex: 1 0 100%;
  width: 100%;
  height: 100%;
}
.slider-ld {
  width: 100%;
  height: 300px;
}
