/** @format */
.checkout-container {
  width: 100%;
  height: 100%;
  display: flex;

  padding: 1rem;
  background-color: #eaeded;
}
.ac-bottom-pb {
  padding-bottom: 5px;
  border-bottom: 1px solid rgba(39, 39, 39, 0.4431372549);
}

.ct-left {
  flex-grow: 1;
  background-color: #ffffff;
  margin-bottom: auto;
  .as-body {
    max-width: 50rem;
    padding-right: 2rem;
    .as-group {
      padding: 1rem;
      .as-lable {
        font-size: 14px;
        margin-bottom: 5px;
        font-weight: 400;
      }
      .as-input {
        width: 100%;
        height: 2.4rem;
        border-radius: 6px;
        border: 1px solid hsla(0, 0%, 69%, 0.973);
        outline: none;
        font-size: medium;
        padding: 0 10px;
      }
    }
  }
}
.ct-right {
  max-width: 24rem;
  flex-shrink: 0;
  background-color: #ffffff;
  margin: 0 1rem auto 1rem;

  .pt-types {
    display: flex;
    column-gap: 10px;
    padding: 10px 0;
    .pt-card {
      height: 80px;
      width: 230px;
      position: relative;
      .pt-input {
        position: absolute;
        width: 100%;
        height: 100%;
        cursor: pointer;
        appearance: none;
        background-color: #ffffff;
        border: 1px solid #ebe8e8;
        border-radius: 10px;
        transition: all 100ms ease-in-out;

        &:checked {
          border: 1px solid rgb(5, 255, 5);
          color: #ffffff;
        }

        &::after {
          content: "";
          width: 13px;
          height: 13px;
          border-radius: 50%;
          background-color: #f7f3f3;
          position: absolute;
          top: 5px;
          right: 4px;
        }

        &:checked::after {
          background-color: rgb(5, 255, 5);
        }
      }
      .card-body {
        width: 100%;
        height: 100%;
        position: absolute;
        padding: 6px;
        display: flex;
        flex-direction: column;
        align-items: center;
        .icon {
          font-size: 3rem;
        }
      }
    }
  }
  .order-btn {
    width: 100%;
    border-radius: 10px;
    border: none;
    font-size: medium;
    cursor: pointer;
    height: 2.5rem;
    color: #ffffff;
    background-color: var(--primary-color);
  }
}
@media (max-width: 768px) {
  .checkout-container {
    flex-direction: column;
    padding: 0;
  }
  .ac-bottom-pb {
    padding-bottom: 5px;
  }
  .ct-left {
    .as-body {
      padding-right: 0rem;
      .as-form {
        .as-group {
          padding: 10px 6px;
        }
      }
    }
  }
  .ct-right {
    max-width: 100%;
    margin: 0;
    .pt-top {
      display: none;
    }
    .pt-types {
      justify-content: space-evenly;
    }
  }
}
