.navbar {
    width: 100%;
    height: 63px;
    background-color: var(--primary-color);
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 10px 10px -10px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;


}

.nav-1-box {
    flex: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar .nav-2-box {
    flex: 25%;
    display: flex;
    justify-content: center;
    align-items: center;

}



.nav-4-box {
    flex: 30%;
    display: flex;
    justify-content: row;
    justify-content: center;
    align-items: center;
    margin-top: 4px;

}

.nav-4-box-ls {
    flex: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4px;
}

.nav-4-3-l {
    width: 87px;
    height: 33px;
    border-radius: 20px;
    font-size: large;
    color: rgb(5, 155, 255);
    background-color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    border: none;
    font-style: italic;
    box-shadow: inset 0 0 0 0 #05bdeb;
    transition: ease-out 0.3s;
    outline: none;
}

.nav-4-4-s {
    width: 87px;
    height: 33px;
    margin-left: 20px;
    border-radius: 20px;
    font-size: large;
    color: rgb(255, 255, 255);
    background-color: #05bdeb;
    font-family: Arial, Helvetica, sans-serif;
    border: none;
    font-style: italic;
    box-shadow: inset 0 0 0 0 #ffffff;
    transition: ease-in-out 0.3s;
    outline: none;


}

.navbar .nav-2-box a {
    font-family: 'Prata', serif;
    color: rgba(255, 255, 255, 0.959);
    font-size: 13px;
    text-decoration: none;
}

.navbar .nav-2-box span {
    font-family: 'Prata', serif;
    color: #ffffff;
    font-size: 15px;
    text-decoration: none;
}

.nav-3-box {
    flex: 40%;
    padding: .7rem 2rem;
    overflow: visible;


}

.nav-3-1 {
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;

    .search-input {
        padding-left: 1rem;
        font-size: 15px;
        flex-grow: 1;
        border-radius: 2px;
        border: none;
        outline: none;
    }

    .icon-search {
        position: relative;
        border-radius: 2px;
        flex-basis: 2rem;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        background-color: #ffffff;

        &::after {
            position: absolute;
            content: "";
            width: 11px;
            height: 11px;
            border: 2px solid var(--primary-color);
            border-radius: 50%;
            transform: translate(-6px, -4px) rotate(315deg);
        }

        &::before {
            position: absolute;
            content: "";
            width: 3px;
            height: 11px;
            background-color: var(--primary-color);
            transform: translate(4px, 5px) rotate(315deg);
        }

    }

    .icon-cancel {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-basis: 2rem;
        background-color: #ffffff;
        cursor: pointer;

        &::after,
        &::before {
            position: absolute;
            content: ' ';
            height: 22px;
            width: 2px;
            background-color: var(--color-blue);
        }

        &::before {
            transform: rotate(45deg);
        }

        &::after {
            transform: rotate(-46deg);

        }
    }



}

.nav-search-result {
    background-color: #ffffff;
    width: 100%;
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translateY(100%);


    .nav-search-result-item {
        width: 100%;
        padding: 10px;
        display: flex;
        align-items: center;
        border-bottom: 1px solid rgb(245, 246, 247);
        cursor: pointer;

        img {
            width: 50px;
            height: 40px;
            object-fit: contain;
        }

        &:hover {
            background-color: var(--bg-hover);

        }

        .nav-search-result-item-name {
            color: black;
            margin-left: 2px;
        }

        .nav-search-result-item-name::first-letter {
            text-transform: capitalize;
        }
    }
}


.navbar .nav-4-box span {
    color: rgba(255, 255, 255, 0.959);
    font-size: 15px;
    border: none;
    text-decoration: none;
    cursor: pointer;

}

.nav-4-1-s {
    padding-left: 4px;
}



.nav-4-3-l:hover {
    box-shadow: inset 87px 0 0 0 #79f704;
    cursor: pointer;
    color: rgb(255, 255, 255);

}

.nav-4-4-s:hover {
    box-shadow: inset 87px 0 0 0 #79f704;
    cursor: pointer;

}

.navbar .nav-3-box input:focus {
    box-shadow: rgba(170, 117, 117, 0.35) 0px 5px 15px;
    outline: none;
}

/* navbar  */



@media screen and (max-width: 768px) {
    .navbar {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        height: auto;
    }



    .nav-3-box {

        input {
            height: 37px
        }

    }

    .navbar .nav-3-box button {
        height: 39px;

    }

    .navbar .nav-2-box {
        justify-content: start;
    }

    .navbar .nav-2-box a {
        font-size: 11px;
        margin-left: 4px;
    }

    .navbar .nav-4-box span {
        font-size: 12px;
    }

    .navbar .nav-1-box {
        order: 1;
        flex: 5%;
    }

    .navbar .nav-2-box {
        order: 2;
        display: flex;
        flex: 40%;
    }

    .navbar .nav-4-box {
        order: 3;
        flex: 30%;
    }

    .navbar .nav-3-box {
        order: 4;
        flex: 100%;
        margin-top: 2%;
        padding-bottom: 10px;
    }

    .nav-4-box-ls {
        order: 3;
        flex: 30%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 8px;
        margin-bottom: 4px;
    }


    .nav-4-3-l {
        width: 75px;
        height: 29px;
        border-radius: 20px;
        font-size: medium;

    }

    .nav-4-4-s {
        width: 75px;
        height: 29px;
        margin-left: 18px;
        margin-right: 5px;
        border-radius: 20px;
        font-size: medium;



    }


}