/** @format */

.no-orders {
  height: 100%;
  max-width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  color: #737373;
  .os-icon {
    font-size: 3.3rem;
  }
  .os-text {
    font-size: 2rem;
  }
}
.orders-container {
  width: 100%;
  height: 100%;
  padding: 1rem;
}

.os {
  height: 100%;
  background-color: #ffffff;
  position: relative;
}
.os-title {
  font-size: 20px;
}

.table-top-skeleton {
  width: 100%;
  margin-top: 1rem;
  height: 2rem;
}

.os-body {
  width: 100%;
  max-height: 100%;
}

.os-table {
  min-width: 100%;
  height: 100%;
  border-collapse: separate;
  border-spacing: 0 9px;
  .os-products {
    max-width: 138px;

    .order-products-img {
      width: 100%;
      height: 100%;
      display: flex;
      overflow: hidden;
    }
    .products-img {
      width: 4rem;
      height: 4rem;
      object-fit: contain;
    }
  }
  .os-thead {
    th {
      padding: 10px;
      font-weight: 600;
      font-size: 15px;
      text-align: left;
      color: #737373;
      border-bottom: 1px solid #b9bfc5;
      border-bottom: 1px solid #ebe3e3;
    }

    tr {
      text-align: left;
    }
  }
  .os-tbody {
    tr {
      border-radius: 10px;
      cursor: pointer;
      box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
      background-color: #ffffff;
    }
    td {
      color: #737373;
      border: none;
      font-size: 14px;
      padding: 0 10px;

      .icon-red {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: rgb(41, 238, 41);
      }
    }
    .os-td-skeleton {
      height: 3rem;
      margin: 8px 3px;
      border-radius: 10px;
    }
  }
}
.os-status {
  display: flex;
  align-items: center;
  column-gap: 5px;
  color: black;
  background: linear-gradient(to left, green, #29c029);
  padding: 10px;
  border-radius: 10px;
  color: #ffffff;
}
.cod {
  background-color: #ffeece;
  max-width: 8rem;
  padding: 7px;
  color: orange;
  border-radius: 10px;
}
.paid {
  width: 3rem;
  display: flex;
  padding: 8px 10px;
  color: #1add8f;
  font-weight: 600;
  border-radius: 10px;
  justify-content: center;
  background-color: #d8f0e6;
}
.order-info {
  display: none;
}

@media (max-width: 768px) {
  .orders-container {
    padding: 0;
  }
  .os-table {
    .os-products {
      max-width: 110px;
      .products-img {
        width: 3rem;
        height: 3.5rem;
        object-fit: contain;
      }
    }

    .os-thead {
      th {
        padding: 5px;
        font-size: 9px;
      }
    }
    .os-tbody {
      td {
        font-size: 9px;
        padding: 5px;
      }
    }
  }
  .os-status {
    display: flex;
    align-items: center;
    column-gap: 5px;
  }
}
