/** @format */

.orders-container {
  width: 100%;
  height: 100%;
  padding: 1rem;
}

.os {
  height: 100%;
  background-color: #ffffff;
}
.os-title {
  font-size: 20px;
}

.os-titles {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.os-tbody {
  height: 100%;
}
.os-table {
  min-width: 100%;
  height: 100%;
  overflow: scroll;
  border-spacing: 0 10px;
  border-collapse: separate;
  .os-products {
    max-width: 125px;
    .order-products-img {
      width: 100%;
      height: 100%;
      overflow: hidden;
      display: flex;
      .products-img {
        width: 6rem;
        height: 5.5rem;
        object-fit: contain;
      }
    }
  }
  .os-thead {
    th {
      padding: 5px 10px;
      font-weight: 600;
      font-size: 16px;
      text-align: left;
      // border-bottom: 1px solid #ebe3e3;
    }

    tr {
      text-align: left;
      border-radius: 15px;
    }
  }
  .os-tbody {
    tr {
      box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
      border-radius: 15px;
      cursor: pointer;
      background-color: #ffffff;
    }
    td {
      padding: 10px;
      .icon-red {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: rgb(41, 238, 41);
      }
    }
  }
}
.os-status {
  display: flex;
  align-items: center;
  column-gap: 5px;
}
.os-price {
  color: #118611bd;
}
.order-info {
  display: none;
}

@media (max-width: 768px) {
  .orders-container {
    padding: 0;
  }
}
