/** @format */

.order-container {
  display: flex;
  padding: 1rem;
  height: 100%;
  justify-content: center;
}

.order {
  width: 75%;
  max-width: 40rem;
  height: 100%;
  border-radius: 10px;
  display: flex;
  column-gap: 1rem;
  flex-direction: column;
  background-color: #ffffff;
}
.order-body {
  padding: 1rem 0rem;
  .order-product {
    display: flex;
    align-items: center;
  }
  .order-product > * {
    flex: 1;
  }
  .product-image {
    img {
      object-fit: contain;
      width: 10rem;
      height: 6rem;
    }
  }
  .product-name {
    font-size: 16px;
    font-weight: 600;
    font-family: Convergence, sans-serif;
  }

  .product-total-r {
    span {
      color: green;
    }
  }
}

.order-details {
  width: 25%;
  margin-bottom: auto;
  margin-left: 1rem;
}
.od-wrap {
  background-color: #ffffff;
}
.od-body-ld {
  margin-top: 1rem;
  width: 100%;
  height: 5rem;
}
.od-body {
  border-bottom: 1px solid #27272771;
}

.od-group {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}

.free {
  color: rgb(39, 231, 55);
}
@media (max-width: 1024px) {
  .order-container {
    padding: 0;
    flex-direction: column;
  }
  .order {
    width: 100%;
    max-width: 100%;
    height: 100%;
  }
  .order-details {
    position: fixed;
    bottom: 0;
    margin-left: 0;
    z-index: 45;
    left: 0;
    margin-left: 0;
    margin-right: 1rem;
    padding: 0;
    width: 100%;
    .od-body {
      border: none;
    }
  }
}
