/** @format */

.recomment-products {
  width: 100%;
  display: flex;
  flex-direction: column;
  border-bottom: none;
  border-top: none;
  background-color: #ffffff;
  padding: 10px;
  border-radius: 5px;
  .recomment-type {
    padding: 5px;
    span {
      font-size: 19px;
      font-weight: 600;
    }
  }

  .recomment-products-list {
    display: flex;
    position: relative;

    .products-s {
      overflow: hidden;
      scroll-behavior: smooth;
      display: flex;
      &::-webkit-scrollbar {
        display: none;
      }
    }
  }

  .scroll-button {
    cursor: pointer;
    padding: 1.8rem 0.8rem;
    border-radius: 7px;
    font-size: large;
    background-color: #ffffff;
    border: 1px solid rgb(230, 220, 205);
  }

  .scroll-left,
  .scroll-right {
    position: absolute;
    top: 50%;
    z-index: 5;
    transform: translateY(-50%);
  }

  .scroll-left {
    left: 0;
  }
  .scroll-right {
    right: 0;
  }
}

.type-ld {
  width: 13rem;
  height: 2rem;
}

@media (max-width: 768px) {
  .recomment-products {
    padding: 10px 5px;
  }
  .scroll-button {
    padding: 1rem 0.5rem !important;
  }
}
