
.sidebar-container{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(59, 58, 58, 0.253);
    scroll-behavior: block;
    overflow: hidden;
    z-index: 9;
}

.sidebar-left-menu{
    width: 23rem;
    height: 100%;
    animation-name: move;
    animation-duration: 0.8s;
    background-color: rgb(255, 255, 255);
    animation-name: move;
    overflow: auto;
   
}
.sidebar-left-menu-header{
    width: 100%;
    height: 10rem;
    display: flex;
    /* justify-content:center; */
    align-items: center;
    flex-direction: row;
    flex-wrap:wrap;
    background-color: rgb(89, 137, 226);
  
}
.sidebar-left-menu-header img{
    margin-left: 1rem;
    border-radius: 50px;
    width: 23%;
    box-shadow: rgba(0, 0, 0, 0.404) 0px 5px 15px;
    cursor: pointer;
    
}
.sidebar-left-header-info{
    display: flex;
    flex-direction: column;
    text-align: 2rem;
}
.sidebar-left-header-info span{
    margin-left: 1rem ;
    font-size: 1.1rem;
    color: white;
}
.sidebar-logout{
    width: 10rem;
    height: 2.2rem;
    margin-left: 4rem;
}

@keyframes move{
    0%{
        width:10rem;
       
    }
    100%{
        width:23rem;
    }
}

.sidebar-close{
    width:75%;
    height: 100vh;
}
.sidebar-left-menu-body{
    display: flex;
    flex-direction: column;
}
.sidebar-link{
    font-weight: 500;
    color: rgb(58 55 55 / 75%);
    font-size:1rem;
    padding-left: 1rem;
    padding-top: 0.8rem;
    padding-bottom: 0.5rem;
    line-height: 3.25rem;
    text-decoration: none;
    
}
.sidebar-link:hover{
    color: rgb(64, 156, 231);
    background-color: rgba(133, 125, 125, 0.144);
}
.sidebar-logout{
    margin: none;
    color: rgba(255, 0, 0, 0.589);
}
@media (max-width:750px){
    .sidebar-left-menu{
    width: 35rem;
    height: 100%;
    background-color: rgb(255, 255, 255);
    animation-name: move;
    animation-duration: 1s;
   
}
@keyframes move{
    0%{
        width:0rem;
       
    }
    100%{
        width:35rem;
    }
}
.sidebar-left-menu-header{
    width: 100%;
    height: 8rem;
    display: flex;
    /* justify-content:center; */
    align-items: center;
    flex-direction: row;
    background-color: rgb(89, 137, 226);
    flex-wrap: wrap;

    
}
.sidebar-link{
    font-weight: 500;
    color: rgb(58 55 55 / 75%);
    font-size:.9rem;
    padding-left: 1rem;
    padding-top: 0.8rem;
    padding-bottom: 0.5rem;
    line-height: 3.25rem;
    text-decoration: none;
}
}


